* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

header {
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  height: 100px;
}
.container .row {
  height: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 400px;
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.container .row i {
  color: #1089FF;
}

nav {
  padding: 2% 20%;
  height: 80px;
  background-color: #1089FF;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
nav ul li:hover {
  border-bottom: 1px solid white;
}
nav ul li a {
  text-decoration: none;
  color: white;
}

body {
  position: relative;
}

nav {
  position: sticky;
  top: 100px;
}

#about-us {
  font-size: 22px;
  font-family: "Dancing Script", cursive;
  color: #1089FF;
}

.bosh-div {
  margin: 5% 0;
  width: 30%;
  border: 2px solid #1089FF;
}

h1::-moz-selection {
  background-color: black;
  color: white;
}

h1::selection {
  background-color: black;
  color: white;
}

p::-moz-selection {
  background-color: black;
  color: white;
}

p::selection {
  background-color: black;
  color: white;
}

.carusel {
  font-family: "Roboto Condensed", sans-serif;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.325), rgba(0, 0, 0, 0.308)), url(https://preview.colorlib.com/theme/waterboat/images/hero_1.jpg.webp);
  height: 90vh;
}
.carusel .carusel-text {
  position: absolute;
  right: 15%;
  top: 40%;
  text-align: right;
  color: white;
  font-size: 20px;
}
.carusel .carusel-text h1 {
  font-size: 40px;
}
.carusel .left {
  padding: 2%;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 10px;
  top: 50%;
}
.carusel .right {
  padding: 2%;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  right: 10px;
}

.container-two {
  margin-bottom: 5%;
  margin: 7% 10%;
  height: 30vh;
}
.container-two img {
  width: 100%;
  height: 100%;
}
.container-two .row {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  justify-content: space-around;
}
.container-two .row .color-gray {
  color: rgb(157, 157, 157);
}
.container-two .row .card-two {
  margin: 0 5%;
}

.container-three {
  margin: 10% 15%;
}
.container-three .row {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  justify-content: space-around;
}
.container-three .row .color-gray {
  color: rgb(157, 157, 157);
}

.container-four .row {
  font-family: "Roboto Condensed", sans-serif;
  padding: 0 15%;
  text-align: center;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 255, 0.653), rgba(0, 0, 255, 0.659)), url(https://preview.colorlib.com/theme/waterboat/images/hero_1.jpg.webp);
  background-attachment: fixed;
  height: 40vh;
}
.container-four .row .color-gray {
  color: rgb(157, 157, 157);
}
.container-four .row h1 {
  font-size: 45px;
}
.container-four .row .card-four {
  padding: 0 10%;
}

.section-five {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section-five .bosh-div {
  width: 100%;
}

.container-five {
  width: 100%;
  background-color: #F8F9FA;
}
.container-five .row {
  margin: 5% 10%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  font-family: "Roboto Condensed", sans-serif;
}
.container-five .row .col-4 {
  padding: 1%;
}
.container-five .row .color-gray {
  color: rgb(157, 157, 157);
}
.container-five .row .card-five {
  background-color: white;
}
.container-five .row .card-five div {
  position: relative;
  padding: 0 5%;
}
.container-five .row .card-five div button {
  padding: 1%;
  position: absolute;
  right: 5%;
  top: 5%;
}
.container-five .row .card-five img {
  width: 100%;
  height: 100%;
}

.container-six {
  width: 100%;
}
.container-six .color-gray {
  color: rgb(157, 157, 157);
}
.container-six .row {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0 15%;
  display: flex;
}
.container-six .row .card-six {
  padding: 5%;
}
.container-six .row img {
  width: 100%;
  height: 100%;
}
.container-six .forms {
  display: flex;
}
.container-six .forms .form {
  padding: 5%;
}

.section-seven {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  height: 100px;
}

.countainer-seven .row {
  font-family: "Roboto Condensed", sans-serif;
  margin: 5% 15%;
  display: flex;
  justify-content: space-around;
}
.countainer-seven .row .card-seven {
  text-align: center;
  position: relative;
}
.countainer-seven .row .card-seven #color {
  color: #1089FF;
}
.countainer-seven .row .card-seven img {
  width: 100%;
  height: 100%;
  padding: 4%;
}
.countainer-seven .row .card-seven .face {
  width: 50px;
  height: 50px;
  padding: 2%;
  border-radius: 50%;
  color: white;
  position: absolute;
  left: 10px;
  top: 45%;
}
.countainer-seven .row .card-seven i {
  font-size: 40px;
}
.countainer-seven .row .card-seven .twit {
  width: 50px;
  height: 50px;
  padding: 2%;
  border-radius: 50%;
  color: white;
  position: absolute;
  left: 10px;
  top: 60%;
}
.countainer-seven .row .card-seven .in {
  width: 50px;
  height: 50px;
  padding: 2%;
  border-radius: 50%;
  color: white;
  position: absolute;
  left: 10px;
  top: 75%;
}

.color-gray {
  color: rgb(157, 157, 157);
}

.container-eight {
  width: 100%;
}
.container-eight .row {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  justify-content: space-around;
  margin: 5% 15%;
}
.container-eight .row .card-eight {
  padding: 10%;
}
.container-eight .row .card-eight #div {
  display: flex;
  justify-content: space-around;
}
.container-eight .row .card-eight #div img {
  border-radius: 50%;
  width: 20%;
  height: 20%;
}
.container-eight .row .card-eight #color-gray {
  padding: 5%;
  border: 2px solid rgb(157, 157, 157);
  border-radius: 5px;
}

#color {
  color: #1089FF;
}

.container-nine .row {
  margin: 5% 13%;
  display: flex;
  justify-content: space-around;
  font-family: "Roboto Condensed", sans-serif;
}
.container-nine .row .card-nine {
  padding: 5% 30%;
}
.container-nine .row h4 {
  border-bottom: 2px solid #1089FF;
}
footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .color-gray {
  color: rgb(157, 157, 157);
}
footer #color {
  color: #1089FF;
}/*# sourceMappingURL=style.css.map */